.card {
  /*   box-shadow: 8px 10px 0px 0px rgba(0, 0, 0, 0.3);
 */
  height: 375px;
  width: 80%;
  margin-bottom: 25px;
  background-color: #f3f3ec;
  margin-right: auto;
  margin-left: auto;

  border: 0px none rgba(100, 100, 100, 0);
  border-radius: 25px;
  box-shadow: inset 10px 10px 20px 0px rgba(239, 243, 255, 1),
    inset -12px -12px 12px 0px rgba(191, 209, 255, 1),
    12px 12px 14px 0px rgba(131, 154, 215, 1);
}

.cardHead {
  font-size: 2rem;
  text-align: center;
  color: black;
}

.cardBody {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.imgLink {
  text-decoration: none;
  color: none;
}

.headLink {
  text-decoration: none;
}

.projGrid {
  display: grid;
}

.imageCont {
  position: absolute;
  height: 200px;
  width: 50px;
  overflow: hidden;
}

.imageCont {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
}

@media (min-width: 800px) {
  .projGrid {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    width: 66%;
  }
}
@media (min-width: 1100px) {
}
