.talentSec {
  margin-left: -15px;
  background-color: rgb(250, 250, 250);
}

.talentGrid {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.talentCard {
  display: flex;
  flex-direction: column;
  height: 275px;
  width: 200px;
  border: 1.5px solid #f15bb5;
  border-radius: 25px;
  padding: 5% 5% 5% 5%;
}

.iconDiv {
  font-size: 48px;
  margin-right: auto;
  margin-left: auto;
}

.talentCard > h3 {
  text-align: center;
  color: blue;
  font-size: 1.5rem;
}

@media (max-width: 840px) {
  .talentGrid {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
  .talentCard {
    display: flex;
    flex-direction: column;
    height: 275px;
    width: 225px;
  }
}
@media (max-width: 560px) {
  .talentGrid {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
