.footerSec {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #00bbf9;
  color: rgb(230, 230, 230);
  padding-left: 5%;
  padding-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
}

.linkList {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}

.linkList > li > a {
  transition: linear 1s;
  text-decoration: none !important;
}
.linkList > li:hover {
  text-decoration: underline;
}

.madeBy {
  margin-top: 15px;
  text-align: center;
}
