.backgroundSec {
  height: fit-content;
  margin-bottom: 150px;
}

.card {
  height: 300px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  color: whitesmoke;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border: 0px none rgba(100, 100, 100, 0);
  border-radius: 24px;
  background: linear-gradient(
      186deg,
      rgba(116, 80, 219, 1) 0%,
      rgba(138, 234, 240, 0) 100%
    ),
    linear-gradient(
      170deg,
      rgba(62, 136, 246, 1) 5%,
      rgba(62, 180, 246, 0.3) 38%,
      rgba(62, 235, 246, 0) 74%
    ),
    radial-gradient(
      56% 77% at 7% 7%,
      rgba(62, 136, 246, 0.7) 0%,
      rgba(62, 158, 246, 0.2) 52%,
      rgba(62, 246, 246, 0) 100%
    ),
    linear-gradient(45deg, rgba(0, 204, 131, 1) 12%, rgba(0, 204, 131, 1) 24%);
}

.backgroundIcon {
  font-size: 48px;
}

.eduCard {
  background-color: #9b5de5;
  margin-left: 20px;
  text-align: left;
}
.expCard {
  background-color: #9b5de5;
  margin-left: auto;
  margin-right: -2.5%;
  text-align: right;
}

.cardHead {
  display: flex;
  flex-direction: column;
}

.expCard > .cardHead {
  align-items: end;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  width: 100%;
}

.exList {
  margin-left: auto;
}

@media only screen and (max-width: 460px) {
  .card {
    padding-left: 10%;
    height: 350px;
  }
}
